@import "../../globalStyles/colors.scss";
@import "../../globalStyles/breakpoints.scss";

.priceRangeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .rangeContainer {
        .sliderPath {
            position: absolute;
            top: 2px;
            height: 5px;
            background-color: gray;
            border-radius: 20px;
        }
    }

    .inputContainer {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: fit-content;

        input[type="range"] {
            z-index: 3;
            -moz-appearance: none;
            -webkit-appearance: none;
            // transform: rotate(180deg);
            border-radius: 20px;
            pointer-events: none;
            height: 8px;
            background-color: transparent;
            outline: none;
            width: 200px;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                background-color: yellow;
                pointer-events: auto;
            }

            &::-moz-range-thumb {
                -webkit-appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                background-color: yellow;
                pointer-events: auto;
            }

            &::-ms-thumb {
                appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                background-color: yellow;
                pointer-events: auto;
            }
        }
        .tail {
            background-color: black;
            width: 20px;
            height: 5px;
            border-radius: 20px;
            position: absolute;
            // left: 1px;
            z-index: 1;
            pointer-events: none;
            right: 0;
            top: 2px;
        }

        #tail2 {
            width: 0;
            left: 1px;
        }
    }
}
