@import "../../globalStyles/colors.scss";
@import "../../globalStyles/breakpoints.scss";

@mixin sliderThumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: $rangeBlue;
    pointer-events: auto;
    border: solid $black 1px;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.priceRangeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .rangeContainer {
        .sliderPath {
            position: absolute;
            top: 2px;
            height: 5px;
            background-color: $transparentBlue;
            border-radius: 20px;
        }
    }

    .inputContainer {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: fit-content;

        input[type="range"] {
            z-index: 3;
            -moz-appearance: none;
            -webkit-appearance: none;
            border-radius: 20px;
            pointer-events: none;
            height: 8px;
            background-color: transparent;
            outline: none;
            width: 200px;

            &::-webkit-slider-thumb {
                @include sliderThumb();
            }

            &::-moz-range-thumb {
                @include sliderThumb();
            }

            &::-ms-thumb {
                @include sliderThumb();
            }
        }
        .tail {
            background-color: $rangeBlue;
            width: 20px;
            height: 5px;
            border-radius: 20px;
            position: absolute;
            z-index: 1;
            pointer-events: none;
            right: 0;
            top: 2px;
        }

        #tail2 {
            width: 0;
            left: 1px;
        }
    }
}
