@import "../../globalStyles/colors.scss";

.cartPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: $transparentBrown;
    border-radius: 100%;
    cursor: pointer;

    .itemCountTag {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -1px;
        right: 2px;
        width: 14px;
        height: 14px;
        background-color: $black;
        color: $white;
        font-size: 8px;
        font-weight: normal;
        border-radius: 100%;
    }
}

.cartItemsList {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: fit-content;

    .cartItem {
        display: inline-flex;
        height: 100px;
        width: 285px;
        column-gap: 20px;

        img {
            width: 120px;
            height: 100px;
            object-fit: contain;
        }

        .cartItem-description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tooltip {
                right: -20px;
            }
        }

        .cartItem-description-header {
            max-width: 110px;
            width: fit-content;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .cartItem-description-price {
        }

        .cartItem-productCountArea {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: auto;
            height: 100%;

            button {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: none;
                cursor: pointer;
            }

            .cartItem-productCountArea-add {
                background-color: $transparentGreen;

                &:hover {
                    background-color: $dimGreen;
                }

                &:active {
                    background-color: $green;
                }
            }

            .cartItem-productCountArea-reduce {
                background-color: $transparentRed;

                &:hover {
                    background-color: $dimRed;
                }

                &:active {
                    background-color: $red;
                }
            }
        }

        .cartItem-count {
            text-align: center;
        }
    }
}
