@import "../../globalStyles/breakpoints.scss";
@import "../../globalStyles/colors.scss";

.ProductListingPage {
    display: flex;
    flex-direction: column;

    .sortArea {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        column-gap: 20px;
        height: 45px;
        right: 0;
        top: -30px;
        width: 35%;

        .filterSign {
            display: none;
            justify-content: center;
            align-items: center;
            min-width: 35px;
            height: 41px;
            border: solid $black 1px;
            border-radius: 5px;
            cursor: pointer;

            svg {
                width: 20px;
                height: 24px;
            }
        }
    }

    .productArea {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 50px;
        margin-top: 50px;
    }
}

@include tablet() {
    .ProductListingPage {
        .sortArea {
            width: 100%;
            top: 0;
            left: 0;
            position: relative;
            margin-top: 30px;
            justify-content: flex-start;

            .filterSign {
                display: flex;
            }

            .switcher {
                margin-left: auto;
            }
        }
    }
}

@include mobile() {
    .ProductListingPage {
        .sortArea {
            column-gap: 5px;

            .filterSign {
                min-width: 30px;
                height: 31px;
            }
        }
    }
}
