@import "../../globalStyles/breakpoints.scss";

.ProductListingPage {
    display: flex;
    flex-direction: column;

    .sortArea {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        column-gap: 20px;
        height: 45px;
        right: 0;
        top: -30px;
        width: 25%;
    }

    .productArea {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 50px;
        margin-top: 50px;
    }
}

@include tablet() {
    .ProductListingPage {
        .sortArea {
            top: 0;
            left: 0;
            position: relative;
            margin-top: 30px;
            justify-content: space-between;
        }
    }
}
