$black: rgba(40, 40, 40, 0.92);
$shadowBlack: rgba(0, 0, 0, 0.4);
$blue: rgba(3, 0, 124, 1);
$dimBlue: rgba(28, 26, 127, 0.6);
$transparentBlue: rgba(4, 0, 176, 0.15);
$rangeBlue: rgb(97, 95, 193);

$yellow: rgba(255, 168, 0, 0.92);
$transparentYellow: rgba(255, 168, 0, 0.15);
$brown: rgba(177, 85, 0, 1);
$transparentBrown: rgba(177, 85, 0, 0.15);

$white: rgba(255, 255, 255, 1);
$dimGray: rgba(128, 128, 128, 0.58);
$green: #0c9600;
$red: #ef0000;

$transparentGreen: #0c960030;
$transparentRed: #ef000030;
$dimGreen: #0c960090;
$dimRed: #ef000090;

$transparentGray: rgba(128, 128, 128, 0.1);
$tooltipGray: #2f3848;
$tooltipText: #a3aec2;
$gray: rgba(124, 124, 124, 0.58);

$modalBlack: rgba(0, 0, 0, 0.5);
$borderBlack: rgba(0, 0, 0, 0.25);
$restoreLink: rgba(63, 63, 63, 1);
$buttonBlue: rgba(6, 0, 242, 1);

$transparentWhite: rgba(255, 255, 255, 0.5);
$listGray: rgba(124, 124, 124, 0.15);
