@import "../globalStyles/breakpoints.scss";

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.App,
#root {
    width: 100%;
    height: 100%;
    font-family: "DM Sans", sans-serif;
}

html,
body {
    overflow-x: hidden;
}

body {
    padding-left: 60px;
    padding-right: 60px;

    main {
        padding-top: 40px;
    }
}

@include laptop() {
    body {
        padding-left: 40px;
        padding-right: 40px;

        main {
            padding-top: 30px;
        }
    }
}

@include tablet() {
    body {
        padding-left: 20px;
        padding-right: 20px;

        main {
            padding-top: 20px;
        }
    }
}
