@import "../../globalStyles/breakpoints.scss";

.categoryPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 35px;
    padding-top: 60px;

    max-width: 1800px;

    .noInternet {
        display: flex;
        text-align: center;
        position: fixed;
        max-width: 300px;
        width: 100%;
        font-size: 30px;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}

@include tablet() {
    .categoryPage {
        margin: 0 auto;
        max-width: 655px;
    }
}

@include mobile() {
    .categoryPage {
        max-width: 310px;
    }
}

@include narrowMobile() {
    .categoryPage {
        max-width: 280px;
    }
}
