@import "../../globalStyles/breakpoints.scss";

.profilePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    height: 80vh;
    width: 100%;
    align-items: center;
}

@include tablet() {
    .profilePage {
        grid-template-columns: 1fr;
        row-gap: 130px;
        column-gap: 0;
        height: fit-content;
        padding-bottom: 20px;
    }
}

@include mobile() {
    .profilePage {
        align-items: flex-start;
    }
}

@include narrowMobile() {
    .profilePage {
        row-gap: 80px;
    }
}
