@import "../../globalStyles/breakpoints.scss";

.ProductFilters {
    height: 550px;
    min-width: 320px;
    border: solid black 1px;
    border-radius: 10px;
}

@include tablet() {
    .ProductFilters {
        display: none;
    }
}
