@import "../../globalStyles/breakpoints.scss";

.ProductFilters {
    display: flex;
    flex-direction: column;
    height: 750px;
    min-width: 320px;
    row-gap: 40px;

    .filters {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .filter {
            font-size: 24px;
        }
    }

    .filterGroupName {
        font-size: 38px;
        margin-bottom: 16px;
    }

    input[type="checkbox"] {
        transform: scale(1.5);
        margin-right: 15px;
        margin-left: 2px;
        cursor: pointer;
    }
}

@include laptop() {
    .ProductFilters {
        .filterGroupName {
            font-size: 34px;
        }
    }

    .filters {
        .filter {
            label {
                font-size: 20px;
            }
        }
    }
}

@include tablet() {
    .ProductFilters {
        display: none;
    }
}
