@import "../../globalStyles/breakpoints.scss";

.ProductFilters {
    height: 800px;
    min-width: 320px;
    background-color: aqua;
}

@include tablet() {
    .ProductFilters {
        display: none;
    }
}
