.epmtyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    svg {
        position: absolute;
        width: 15px;
        height: 15px;
    }

    .topLeft {
        left: 0;
        top: 0;
    }

    .topRight {
        right: 0;
        top: 0;
        transform: rotate(90deg);
    }

    .bottomRight {
        right: 0;
        bottom: 0;
        transform: rotate(180deg);
    }

    .bottomLeft {
        left: 0;
        bottom: 0;
        transform: rotate(270deg);
    }
}
