@import "../../globalStyles/colors.scss";

.tooltip-container {
    width: fit-content;
    height: fit-content;

    .lengthChecker {
        position: absolute;
        visibility: hidden;
        width: max-content;
    }

    .tooltip {
        right: 0px;
        position: absolute;
        z-index: 3;
        width: max-content;
        max-width: 200px;
        max-height: 70px;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
        transition-delay: 0s;

        overflow-y: scroll;
        background-color: $tooltipGray;
        color: $tooltipText;
        border-radius: 5px;
    }

    &:hover {
        .tooltip {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.5s;
        }
    }
}
