@import "../../globalStyles/colors.scss";
@import "../../globalStyles/breakpoints.scss";

.switcher {
    display: flex;
    flex-direction: row;
    border: solid 1px $black;
    border-radius: 10px;

    .switchButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 55px;

        border: none;
        background-color: transparent;
        border-right: 1px solid $black;
        cursor: pointer;

        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &:last-child {
            border-right: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    .chosen {
        background-color: $transparentBlue;
    }

    .switcherImg {
    }
}

@include mobile() {
    .switcher {
        height: 31px;
        border-radius: 7px;
        .switchButton {
            width: 36px;
            height: 30px;

            img {
                width: 26px;
                height: 22px;
            }

            &:first-child {
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
            }

            &:last-child {
                border-right: none;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        }
        .chosen {
        }
    }
}
